{% extends "layout.html" %}
{% block style %}
<style>
  .inputbox {
    width: 23px;
    height: 23px;
    display: inline-block;
    border: 1px black solid;
  }

  .selected {
    background-color: #111;
  }

  .outlined {
    border: 1px solid #777;
  }
</style>
{% endblock %}


{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-7 test_div">
      <h1>input board</h1>
      <div id="inputboxes">
        {% for i in range(boardSize) %}
        {% for j in range(boardSize) %}
        <div class="inputbox" id="[{{i}},{{j}}]" onclick="invertClick(this)" onmousedown="mousedown=true"
          onmouseup="mousedown=false" onmouseover="invertSelection(this)"></div>
        {% endfor %}
        <br />
        {% endfor %}
      </div>
      <input type="range" min="0" max="100" value="50" class="slider" id="myRange">
      <label for="myRange">Percent of randomization</label>
      <button onclick="randomizeBoard()">Randomize Board</button><br />

      <button onclick="startGame()">Test Game</button><br />
      <button onclick="clearTest()">Clear Test Game</button><br />
      <button onclick="resetBoard()">Reset input board</button><br />
      <button onclick="submitBoard()">Start Game</button><br />
    </div>

    <div class="col-4 test_div">
      <h1>test board</h1>
      <canvas id="GoL" class="GoL outlined" width="400" height="400"></canvas>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  const invertSelection = (element) => {
    if (mousedown) {
      element.classList.toggle('selected')
    }
  }

  const invertClick = (element) => element.classList.toggle('selected')

  const submitBoard = () => {
    data = { board: subboard1, user: 1 }
    $.ajax({
      type: "POST",
      url: "/submit_board",
      contentType: 'application/json',
      data: JSON.stringify(data),
      dataType: "json"
    })
  }

  const resetBoard = () => {
    for (i = 0; i < subboardHeight; i++) {
      temp = [];
      for (j = 0; j < subboardHeight; j++) {
        cell = document.getElementById("[" + i + "," + j + "]")
        if (cell.classList.contains("selected")) {
          cell.classList.remove('selected')
        }
      }
      subboard1 = temp;
    }
  }

  const clearBoard = () => {
    canvas = document.getElementById("GoL");
    context = canvas.getContext("2d");
    context.clearRect(0, 0, 400, 400);
    gameboard = []
  }

  const clearTest = () => {
    clearInterval(currInterval)
    clearBoard()

  }



  function checkNeighbors(gameboard, cell, boardHeight) {
    aliveCells = 0
    parent_list = []
    if (cell[0] == 0 && cell[1] == 0) {//top left
      aliveCells = gameboard[boardHeight][boardHeight][0] + gameboard[boardHeight][0][0] + gameboard[boardHeight][1][0] + gameboard[0][boardHeight][0] + gameboard[cell[0]][cell[1] + 1][0] + gameboard[1][boardHeight][0] + gameboard[cell[0] + 1][cell[1]][0] + gameboard[cell[0] + 1][cell[1] + 1][0]
    } else if (cell[0] == 0 && cell[1] == boardHeight) {//top right
      aliveCells = gameboard[boardHeight][cell[1] - 1][0] + gameboard[boardHeight][cell[1]][0] + gameboard[boardHeight][0][0] + gameboard[cell[0]][cell[1] - 1][0] + gameboard[cell[0]][0][0] + gameboard[cell[0] + 1][cell[1] - 1][0] + gameboard[cell[0] + 1][cell[1]][0] + gameboard[cell[0] + 1][0][0]
    } else if (cell[0] == boardHeight && cell[1] == 0) {//bottom left
      aliveCells = gameboard[cell[0] - 1][boardHeight][0] + gameboard[cell[0] - 1][cell[1]][0] + gameboard[cell[0] - 1][cell[1] + 1][0] + gameboard[cell[0]][boardHeight][0] + gameboard[cell[0]][cell[1] + 1][0] + gameboard[0][boardHeight][0] + gameboard[0][cell[1]][0] + gameboard[0][cell[1] + 1][0]
    } else if (cell[0] == boardHeight && cell[1] == boardHeight) {//bottom right
      aliveCells = gameboard[cell[0] - 1][cell[1] - 1][0] + gameboard[cell[0] - 1][cell[1]][0] + gameboard[cell[0] - 1][boardHeight][0] + gameboard[cell[0]][cell[1] - 1][0] + gameboard[cell[0]][0][0] + gameboard[0][cell[1] - 1][0] + gameboard[0][cell[1]][0] + gameboard[0][0][0]
    } else if (cell[0] == 0 && cell[1] != boardHeight) {//top
      aliveCells = gameboard[boardHeight][cell[1] - 1][0] + gameboard[boardHeight][cell[1]][0] + gameboard[boardHeight][cell[1] + 1][0] + gameboard[cell[0]][cell[1] - 1][0] + gameboard[cell[0]][cell[1] + 1][0] + gameboard[cell[0] + 1][cell[1] - 1][0] + gameboard[cell[0] + 1][cell[1]][0] + gameboard[cell[0] + 1][cell[1] + 1][0]
    } else if (cell[1] == 0 && cell[0] != boardHeight) {//left
      aliveCells = gameboard[cell[0] - 1][boardHeight][0] + gameboard[cell[0] - 1][cell[1]][0] + gameboard[cell[0] - 1][cell[1] + 1][0] + gameboard[cell[0]][boardHeight][0] + gameboard[cell[0]][cell[1] + 1][0] + gameboard[cell[0] + 1][boardHeight][0] + gameboard[cell[0] + 1][cell[1]][0] + gameboard[cell[0] + 1][cell[1] + 1][0]
    } else if (cell[1] == boardHeight) {//right
      aliveCells = gameboard[cell[0] - 1][cell[1] - 1][0] + gameboard[cell[0] - 1][cell[1]][0] + gameboard[cell[0] - 1][0][0] + gameboard[cell[0]][cell[1] - 1][0] + gameboard[cell[0]][0][0] + gameboard[cell[0] + 1][cell[1] - 1][0] + gameboard[cell[0] + 1][cell[1]][0] + gameboard[cell[0] + 1][0][0]
    } else if (cell[0] == boardHeight) {//bottom
      aliveCells = gameboard[cell[0] - 1][cell[1] - 1][0] + gameboard[cell[0] - 1][cell[1]][0] + gameboard[cell[0] - 1][cell[1] + 1][0] + gameboard[cell[0]][cell[1] - 1][0] + gameboard[cell[0]][cell[1] + 1][0] + gameboard[0][cell[1] - 1][0] + gameboard[0][cell[1]][0] + gameboard[0][cell[1] + 1][0]
    } else {//everything else
      aliveCells = gameboard[cell[0] - 1][cell[1] - 1][0] + gameboard[cell[0] - 1][cell[1]][0] + gameboard[cell[0] - 1][cell[1] + 1][0] + gameboard[cell[0]][cell[1] - 1][0] + gameboard[cell[0]][cell[1] + 1][0] + gameboard[cell[0] + 1][cell[1] - 1][0] + gameboard[cell[0] + 1][cell[1]][0] + gameboard[cell[0] + 1][cell[1] + 1][0]
      //if parent exists push colour to list 
      parent_list.push()//push all that do not exist
    }
    return [aliveCells, "#444444"];
  }

  function renderBoard(gameboard) {
    clearBoard();
    for (i = 0; i < boardHeight; i++) {
      for (j = 0; j < boardHeight; j++) {
        if (gameboard[i][j][0] == 1) {
          context.fillStyle = gameboard[i][j][1];
          context.fillRect(j * 4, i * 4, 4, 4)
        } else {
          context.fillStyle = "rgba(" + 0 + "," + 0 + "," + 0 + "," + (0 / 255) + ")";
          context.fillRect(j * 4, i * 4, 4, 4)
        }
      }
    }
  }

  function insertBoard(gameboard, subboard, startCell, hexcolour) {
    for (i = 0; i < subboard.length; i++) {
      for (j = 0; j < subboard.length; j++) {
        gameboard[startCell[0] + i][startCell[1] + j][0] = subboard[i][j]
        if (subboard[i][j]) {
          gameboard[startCell[0] + i][startCell[1] + j][1] = hexcolour
        }
      }
    }
  }




  function randomizeBoard() {
    var slider = document.getElementById("myRange");
    const p = slider.value / 100;
    resetBoard()
    for (i = 0; i < subboardHeight; i++) {
      for (j = 0; j < subboardHeight; j++) {
        cell = document.getElementById("[" + i + "," + j + "]")
        if (Math.random() < p) {
          invertClick(cell)
        }
      }
    }
  }


  function startGame() {

    for (i = 0; i < subboardHeight; i++) {
      temp = [];
      for (j = 0; j < subboardHeight; j++) {
        cell = document.getElementById("[" + i + "," + j + "]")
        if (cell.classList.contains("selected")) {
          temp.push(1);
        } else {
          temp.push(0);
        }
      }
      subboard1.push(temp);
    }

    insertBoard(gameboard, subboard1, [10, 45], "#444444")

    renderBoard(gameboard)
    currInterval = setInterval(function () {
      newBoard = []
      for (i = 0; i < boardHeight; i++) {
        newRow = []
        for (j = 0; j < boardHeight; j++) {
          temp = checkNeighbors(gameboard, [i, j], boardHeight - 1);
          if (gameboard[i][j][0] == 0) {
            if (temp[0] == 3) {//live cell
              newRow.push([1, temp[1]])
            }
            else {//dead cell
              newRow.push([0, ""])
            }
          } else {
            if (temp[0] == 2 || temp[0] == 3) {//live cell
              newRow.push([1, temp[1]])
            } else {//dead cell
              newRow.push([0, ""])
            }
          }
        }
        newBoard.push(newRow)
      }
      gameboard = newBoard
      renderBoard(gameboard)
      generation += 1
    }, 30);
  }

  $(function () {
    generation = 0;
    gameboard = [];
    boardHeight = 100;
    currInterval = false
    subboardHeight = {{ boardSize }};
    subboard1 = []
    mousedown = false;
    for (i = 0; i < boardHeight; i++) {
      temp = [];
      for (j = 0; j < boardHeight; j++) {
        temp.push([0, ""]);
      }
      gameboard.push(temp);
    }

  });


</script>
{% endblock %}