{% extends "layout.html" %}
{% block style %}
<style>
.landing{
  text-align: center;
}
</style>
{% endblock %}
{% block body %}
<div class="container">
  <div class="landing">
<h1 class="title">Hi and welcome to Game of Life io</h1>
<p>There are two goals to this game, <br/>
  1: Expand the most <br/>
  2: Stay alive the longest<br/><br/>
With that said, let's get started
Your first step is creating an input board by clicking <a href="input">here</a> or anywhere that takes you to the input area.
Once we have your starting board we can run it against other people and determine how well your board does against others</p>
</div>
</div>
{% endblock %}
